@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

:root {
	--primaryBackground: #fff2f2;
	--primaryRed: #bf2201;
	--black: #2f2929;
	--orange: #ec9142;
	--yellow: #f1e43d;
	--darkGreen: #405751;
	--mustard: #f0c98d;
	--buttonColor: #f2b7b8;
	--white: #fff;
	--blue: #46c0d9;
}

* {
	box-sizing: border-box;
	margin: 2.5px;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 100;
	background-color: var(--primaryBackground);
	background-image: -webkit-image-set(url("./assets/Backgoround\ 1.png"));
	/* background-position: center; Center the image */
	background-repeat: repeat;
	background-size: cover; /* Resize the background image to cover the entire container */
	/* padding: 0vw 0 10vh 0; */
}

a {
	text-decoration: none;
	color: var(--black);
}
h1 {
	font-family: "Gloock", serif;
	font-weight: 500;
	font-size: 55px;
}

h4 {
	font-weight: 500;
	font-size: 30px;
	font-family: "Gloock", serif;
}

h3 {
	font-weight: 400;
	font-size: 40px;
	font-family: "Gloock", serif;
}

.standard-button {
	border-radius: 15vw;
	padding-block: 1.5%;
	padding-inline: 5%;
	background-color: var(--buttonColor);
	border-color: var(--buttonColor);
	box-shadow: none;
	color: var(--black);
	font-size: 18px;
}

.component-container {
	padding-inline: 7.5vw;
	margin-bottom: 10vh;
}

.container {
	padding-inline: 3.5vw;
}
p {
	font-weight: 300;
}

/* #region Headers */

.header-top-bar {
	display: flex;
	justify-content: space-between;
	gap: 12.5px;
	margin-bottom: 15px;
}

.header-bars {
	width: 100%;
	margin: auto;
	height: 1px;
	background-color: var(--primaryRed);
}

.triheader-middle-title {
	align-self: center;
	text-align: center;
}

/* #endregion */

/* #region Nav Bar */

.nav-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 15px;
	/* margin: auto; */
}

.nav-links {
	display: flex;
	justify-content: space-between;
}

.nav-divider {
	width: 100%;
	height: 2px;
	background-color: var(--primaryRed);
}

/* #endregion */

/* #region AI Art Exhibit */

.ai-exhibit-container {
	display: flex;
	align-items: center;
	gap: 2.5%;
}

.ai-art-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.ai-image-container {
	width: 55vw;
	height: max-content;
	background-color: var(--orange);
	border-radius: 95%;
	padding: 15px 30px 15px 10px;
	/* max-width: 45%;
	max-height: 45%; */
}

.ai-image {
	max-width: 100%;
	max-height: 100%;
}

.ai-artist-name {
	top: -15vh;
	position: relative;
}

.ai-country-name {
	position: relative;
	top: 10vh;
	left: 150px;
}
/* #endregion */

/* #region About Component */

.about-label {
	position: relative;
	top: 10vh;
	/* right: 150px; */
}

.about-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about-image-container {
	width: 35vw;
	height: 75vh;
	background-color: var(--yellow);
	border-radius: 95%;
	padding: 25px 5px 15px 30px;
}

.about-image {
	max-width: 100%;
	max-height: 100vh;
	height: 100%;
}

.about-main-container {
	display: flex;
	align-items: center;
	gap: 2.5%;
	margin-bottom: 10vh;
}

/* #endregion */

/* #region Blog */

.blog-hero-circle-container {
	border-radius: 95%;
	padding: 30px 10px 5px 10px;
	justify-content: center;
	display: flex;
}

.blog-hero-image {
	width: 100%;
}

.blog-circles-row {
	display: flex;
	gap: 5vw;
	margin-bottom: 3vh;
}

.row-1 {
	margin-left: 15vw;
}

.row-2 {
	margin-right: 15vw;
}

.blog-hero {
	text-align: center;
	margin-bottom: 15vh;
}

.blog-text-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-inline: 10vw;
	margin-bottom: 5vh;
}

.blog-link {
	color: var(--primaryRed);
}
/* #endregion */

/* #region Design Hero */

.design-container {
	display: flex;
	justify-content: space-evenly;
	/* gap: 20px; */
}

.design-hero {
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 15vh;
}

.wireframes-container {
	background-color: white;
	width: 80vw;
	height: 45vh;
	border-radius: 20%;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 7.5%;
}

.style-guide-container {
	background-color: white;
	width: 80vw;
	height: 45vh;
	border-radius: 40%;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 20%;
}

.inspiration-container {
	background-color: white;
	width: 80vw;
	height: 45vh;
	border-radius: 10%;
	align-items: center;
	justify-content: center;
	display: flex;
}

/* #endregion */

/* #region Create Hero */

.create-image-container {
	width: 55vw;
	height: max-content;
	background-color: var(--orange);
	border-radius: 95%;
	padding: 25px 35px 2.5px 15px;
}

.create-image {
	max-width: 100%;
	max-height: 100%;
	border-radius: 95%;
	width: inherit;
	height: inherit;
}

.create-ai-container {
	display: flex;
	justify-content: space-between;
}

.create-p {
	margin: auto;
	text-align: center;
	font-weight: 500;
}

.create-h1 {
	top: 50%;
	position: relative;
}

.text-input {
	width: 25vw;
	height: 60px;
	border-radius: 1.5vw;
	position: relative;
	background-color: var(--white);
	transition: 0.3s all;
	padding-left: 10px;
	font-size: 18px;
}
/* #endregion */

/* #region About Hero */
.about-hero-circle-container {
	display: flex;
	justify-content: space-between;
	gap: 20vw;
}

.about-hero-circle-container-blue {
	background-color: var(--blue);
	border-radius: 95%;
	padding: 30px 0px 5px 30px;
	justify-content: center;
	display: flex;
	width: 60%;
}

.about-hero-circle-container-mustard {
	background-color: var(--mustard);
	border-radius: 95%;
	padding: 30px 30px 5px 0px;
	justify-content: center;
	display: flex;
	width: 60%;
}

.artist-hero {
	margin: auto;
	text-align: center;
}

/* #endregion */

/* #region Footer */
.footer-main-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-secondary-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5vw;
}

.footer-component {
	position: relative;
	bottom: 0;
	margin-top: 3vh;
}

/* #endregion */

/* #region About Page */

.about-page-container {
	display: flex;
	align-items: center;
	margin-top: 10vh;
}

/* #endregion */

/* #region Product */

.product-image-container {
	background-color: var(--yellow);
	/* width: 25vw; */
	height: 35vh;
	border-radius: 2.5vw;
	padding: 5vh 1vh 1vh 5vh;
}

.product-details-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2.5vh;
	/* width: 25vw; */
	margin-top: 15px;
	align-items: center;
}

.product-button {
	width: 40%;
}

.product-image {
	max-width: 100%;
	max-height: 100%;
}

.product-holder {
	display: flex;
	width: 100vw;
	margin-top: 20px;
}
/* #endregion */

/* #region Blog */

.tri-blog-card-holder {
	display: flex;
	align-items: center;
}

.blog-divider {
	width: 100%;
	height: 1.5px;
	background-color: var(--black);
	opacity: 0.5;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
}

.blog-card {
	display: flex;
	gap: 5vw;
}

.blog-card-circle-container {
	border-radius: 95%;
	padding: 0px 0px 25px 30px;
	justify-content: center;
	display: flex;
	width: 15vw;
	height: 29vh;
}

.blog-circle-container {
	border-radius: 95%;
	padding: 25px 30px 0 0;
	justify-content: center;
	display: flex;
}

.blog-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shown {
	display: block;
}

.hidden {
	display: none;
}

/* #endregion */

/* #region Scrool To Top */
.scroll-to-top {
	position: relative;
}

.icon-position {
	position: fixed;
	bottom: 40px;
	right: 25px;
	z-index: 20;
}
.icon-style {
	background-color: var(--buttonColor);
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	animation: movebtn 3s ease-in-out infinite;
	transition: all 0.5s ease-in-out;
}
.icon-style:hover {
	animation: none;
	background: #fff;
	color: var(--buttonColor);
	border: 2px solid var(--buttonColor);
}
@keyframes movebtn {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(20px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* #endregion */

/* #region Design */

.wireframe-pictures {
	width: 100%;
}

.wireframes-container {
	/* width: 80%;
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	gap: 20px; */
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: transparent;
}

.image-description-container {
	display: flex;
	gap: 15px;
	/* width: 100%; */
}

.description-container {
	width: 100%;
}

.desc-points {
	margin-bottom: 7.5px;
}
/* #endregion */

/* #region Buttons */

.to-create-btn {
	right: 0;
	position: absolute;
	margin-top: -20%;
}

.to-about-btn {
	position: absolute;
	margin-top: -30%;
	margin-left: 20%;
}

.to-blog-btn {
	right: 0;
	position: absolute;
	margin-top: -20%;
}

.to-design-btn {
	right: 12vw;
	position: absolute;
	margin-top: -20%;
}

.to-artists-btn {
	right: 40%;
	position: absolute;
	margin-top: -15vh;
}

/* #endregion */

/* #region Artists */

.artist-artworks-container {
	display: flex;
	flex-direction: column;
	gap: 2vw;
}

.two-artworks-container {
	display: flex;
	gap: 2vw;
}

.artist-component {
	display: flex;

	gap: 4vw;
	width: 100%;
}

.reversed {
	flex-direction: row-reverse;
}

.artist-desc-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 95%;
}

.artist-image {
	width: 100%;
	height: 100%;
}

.artist-image-container {
	width: 100vw;
}

.artist-name {
	color: var(--primaryRed);
}

.artists-components-container {
	display: flex;
	flex-direction: column;
	gap: 10vh;
}

.support-section {
	display: flex;
	flex-direction: column;
	gap: 2vh;
}
/* #endregion */

/* #region Color variants */

.green {
	background-color: var(--darkGreen);
}

.mustard {
	background-color: var(--mustard);
}

.yellow {
	background-color: var(--yellow);
}

.dark-green {
	width: 35vw;
	height: 90vh;
	background-color: var(--darkGreen);
}
/* #endregion */
